<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="defaultStatementTimeout" value="10"/>
        <!--<setting name="logImpl" value="LOG4J2" />-->
    </settings>
    <typeAliases>
        <package name="com.weasel.penetrate.manager.domain"/>
    </typeAliases>

    <!--<mappers>
        <mapper resource="mybatis/mappers/device.xml"/>
    </mappers>-->
</configuration>
