<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/penetrate-home/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="logo"><strong>FRP内网穿透</strong></a>
		<nav id="nav">
			<a href="home.html">Home</a>
			<a href="generic.html">Generic</a>
			<a href="elements.html">Elements</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<h1>欢迎使用FRP内网穿透服务</h1>
		</header>

		<div class="flex ">

			<div>
				<span class="icon"><img src="/penetrate-home/images/windows.png"></span>
				<h3>Windows</h3>
				<p><a href="#">x86客户端</a>&nbsp;&nbsp;<a href="#">x64客户端</a></p>
			</div>

			<div>
				<span class="icon"><img src="/penetrate-home/images/linux.png"></span>
				<h3>Linux</h3>
				<p><a href="#">x86客户端</a>&nbsp;&nbsp;<a href="#">x64客户端</a>&nbsp;&nbsp;<a href="#">arm客户端</a>&nbsp;&nbsp;<a href="#">arm64客户端</a></p>
			</div>

			<div>
				<span class="icon"><img src="/penetrate-home/images/mac.png"></span>
				<h3>Mac</h3>
				<p><a href="#">x86</a>&nbsp;&nbsp;<a href="#">x64</a></p>
			</div>

		</div>

		<p class="qqicon"><img src="/penetrate-home/images/qq.png">QQ交流:114231159</p>
		<footer>
			<a href="#" class="button">详细教程</a>
		</footer>
	</div>
</section>


<!-- Three -->
<section id="three" class="wrapper align-center">
	<div class="course">
		<article>
			<header>
				<h3>简单教程</h3>
			</header>
		</article>
		<p>
			<strong>1、下载frp压缩包</strong><br/>
			下载地址：http://www.diannaobos.com/frp/<br/>
			<strong>2、提取frpc.exe和frpc.ini这两个文件</strong><br/>
				<strong>3、修改配置文件</strong><br/>
			使用Notepad编辑器打开frpc.ini<br/>
			清空里面的内容<br/>
			复制下面的代码到文件里：<br/>
			[common]<br/>
			server_addr = frp.lu8.win<br/>
			server_port = 7000<br/>
			log_file = ./frpc.log<br/>
			log_level = info<br/>
			log_max_days = 3<br/>
			privilege_token = frp888<br/>

			[HTTP_mode]<br/>
			#注意修改上方[]内的内容，不要与其他隧道名称重复<br/>
			#privilege_mode特权模式<br/>
			privilege_mode = true<br/>
			type = http<br/>
			#local_ip本地服务IP<br/>
			local_ip = 127.0.0.1<br/>
			#local_port本地服务端口<br/>
			local_port = 80<br/>
			#custom_domains将自己的域名CNAME解析至frp.lu8.win，绑定多个域名可以用,分开，如果你没有自己的域名，使用我们的自动开通域名，格式:你起的名称.frp.lu8.win<br/>
			custom_domains = youname.com,www.youname.com<br/>
			#pool_count = 100<br/>

			[TCP_mode]<br/>
			#注意修改上方[]内的内容，不要与其他隧道名称重复<br/>
			privilege_mode = true<br/>
			type = tcp<br/>
			#remote_port外部端口，可映射TCP、UDP端口范围为：9000-65535<br/>
			remote_port = 9000<br/>
			#local_ip本地服务IP<br/>
			local_ip = 127.0.0.1<br/>
			#local_port本地服务端口<br/>
			local_port = 22<br/>
			use_gzip = true use_encrypti<br/>
			#pool_count = 2<br/>
			点击保存<br/>
			<strong>4、启动frp</strong><br/>
			在Ctrl+R键启动CMD用命令行操作<br/>
			CD到在所在目录<br/>
			输入 frpc.exe -c frpc.ini<br/>
			这时如果没有提示就说明成功了<br/>
			注意：关闭黑色窗口就等于关闭frp<br/>
			如果你看完本教程还有不明白的地方欢迎加入frp交流QQ群:261807771
		</p>
	</div>
	<p class="feetip"><h1>本服务免费提供服务，不收取任何费用！</h1>如果您觉得好用，而手头宽裕，就请作者喝杯咖啡吧~</p>
	<div class="inner">
		<div class="flex flex-2">
			<article>
				<div class="image round">
					<img src="/penetrate-home/images/alipay.jpg"  width="200" height="200" alt="支付宝二维码" />
				</div>
				<header>
					<h5>支付宝</h5>
				</header>
				<!--<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
				<footer>
					<a href="#" class="button">Learn More</a>
				</footer>-->
			</article>
			<article>
				<div class="image round">
					<img src="/penetrate-home/images/wxpay.png" width="200" height="200" alt="微信二维码" />
				</div>
				<header>
					<h5>微信</h5>
				</header>
				<!--<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
				<footer>
					<a href="#" class="button">Learn More</a>
				</footer>-->
			</article>
		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="copyright">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="#"></a></div>
	</div>
</footer>

<!-- Scripts -->
<script src="/penetrate-home/js/jquery.min.js"></script>
<script src="/penetrate-home/js/skel.min.js"></script>
<script src="/penetrate-home/js/util.js"></script>
<script src="/penetrate-home/js/main.js"></script>

</body>
</html>